<h1>List of authors 𓂃˖˳·˖ ִֶָ ⋆🌷͙⋆ ִֶָ˖·˳˖𓂃 ִֶָ</h1>

<table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 100%;">
    <tr style="background-color: darkred; color: white;">
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>

    {% for i in list %}
    <tr>
        <td>{{ i.username }}</td>
        <td>{{ i.email }}</td>
        <td>
            <a href="{{ path('deleteAuthor', {'id': i.id}) }}">delete</a>
            <a href="{{ path('updateAuthor', {'id': i.id}) }}">update</a>
            <a href="{{ path('showDetails', {'id': i.id}) }}">show</a>
        </td>
    </tr>
    {% endfor %}
</table>
