Authors
<h1> details of Author {{ authorr.id }} </h1>
<p> Id : {{ authorr.id }} </p>
<p> Username : {{ authorr.username }} </p>
<p> Email : {{ authorr.email }} </p>
<a href="{{ path('showall') }}">back to list</a>